<mat-card>
  <mat-card-content>
    <div id='calendar'>
    <div class='demo-app'>
      <div class='demo-app-main'>
        <full-calendar
          *ngIf='calendarVisible'
          [options]='calendarOptions'
        ></full-calendar>
        <label>
          <input
            type='checkbox'
            [checked]='calendarVisible'
            (change)='handleCalendarToggle()'
          />
          toggle whole calendar
        </label>
      </div>
    </div>
    </div>
  </mat-card-content>
</mat-card>
